body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* POPUP */

.mapboxgl-popup {
    /*            width: 400px;*/
    /*    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    /*            background-color: aqua;*/
/*    text-align: center;*/
    /*            color: black;*/
    /*            text-transform: uppercase;*/
    /*            font-weight: 700;*/
    /*            background-color: rgb(89, 229, 247, 0.25;*/
    /*            background-color: blue;*/


}

.mapboxgl-popup ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font: 12px/18px "Arial Unicode MS", Helvetica;
}

.mapboxgl-popup li {
    text-align: left;
    font-weight: 500;
/*    text-transform: uppercase;*/
}

.mapboxgl-popup li span {
    color: grey;
    font-weight: 400;
/*    font-size: 10px;*/
/*    text-transform: lowercase;*/
}

.mapboxgl-popup li:not(:first-child) span::after {
    content: ' : '
}

.mapboxgl-popup li:first-child {
    font: 12px/20px "Arial Unicode MS", Helvetica;
    font-weight: 600;
    font-size: 14px;
/*    margin-bottom: 2px;*/
/*    text-transform: uppercase;*/
}

.popup {
    /*            color: #62F1F3;*/

}

/*
        .mapboxgl-popup {
            padding-bottom: 50px;
        }
*/

.mapboxgl-popup-close-button {
    display: none;

}

.mapboxgl-popup-content {
    /*            font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;*/
    padding: 0;
    width: 180px;
    border: 1px solid #62F1F3;
    color: #2D73E8;
    /*                        background-color: rgb(89, 229, 247, 0.25;*/
    /*            background-color: aqua;*/
    /*            opacity: 0.25;*/

}

/*
        .mapboxgl-popup-content h3 {
            background: #91c949;
            color: #fff;
            margin: 0;
            padding: 10px;
            border-radius: 3px 3px 0 0;
            font-weight: 700;
            margin-top: -15px;
        }
*/

/*
        .mapboxgl-popup-content h4 {
            margin: 0;
            padding: 10px;
            font-weight: 400;
        }
*/

.mapboxgl-popup-content div {
    padding: 10px;
}

/*
        .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
        .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
            display: none !important;
        }
*/

.mapboxgl-popup-anchor {
    /*            background-color: #62F1F3;*/
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    /*            margin-top: 15px;*/

}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    /*            border-bottom-color: #91c949;*/
}

/* FILTER */

/*        .mapxboxgl-popup-content {}*/
.listing-group {
    font: 12px/20px "Arial Unicode MS", Helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    max-width: 20%;
    min-width: 125px;
    color: #fff;
}



.listing-group input[type='checkbox']:first-child + label {
    /*    border-radius: 3px 3px 0 0;*/
}

/*
.listing-group-title input[id='frequencies'] + label {
    border-radius: 0 0 3px 3px;
}
*/

.listing-group label:last-child {
    /*    border-radius: 0 0 3px 3px;*/
    border: none;
}

.listing-group input[type='checkbox'] {
    display: none;
}

.listing-group-li:first-child .listing-group-title input[type='checkbox'] + label {
    border-radius: 3px 3px 0 0;
}

.listing-group-li:last-child .listing-group-title input[type='checkbox']:not(:checked) + label {
    border-radius: 0 0 3px 3px;
}

.listing-group-li:last-child .listing-group-filter input[type='checkbox'] + label:last-child {
    border-radius: 0 0 3px 3px;
}


.listing-group input[type='checkbox'] + label {
    background-color: #4093ed;
    display: block;
    cursor: pointer;
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-right: 30px;
}

.listing-group input[type='checkbox'] + label {
    /*    background-color: #3386c0;*/
    text-transform: capitalize;
}

.listing-group-title input[type='checkbox'] + label:before {
    content: '▸';
    margin-right: 5px;
}

.listing-group input[type='checkbox'] + label:hover,
.listing-group input[type='checkbox']:checked + label {
    background-color: #3987db;
}

.listing-group-title input[type='checkbox']:checked + label:before {
    content: '▾';
    margin-right: 5px;
}

/* */

.listing-group-filter {
    display: none;
}

.listing-group-filter input[type='checkbox'] + label:hover,
.listing-group-filter input[type='checkbox']:checked + label {
    background-color: #3987db;

}

.listing-group-filter input[type='checkbox'] + label {
    background-color: #4093ed;
    padding: 5px;
    /*    font-size: 12px;*/
}

/*.listing-group-filter input[type='checkbox']:checked + label {}*/

.listing-group-filter input[type='checkbox']:checked + label:before {
    content: '⬝';
    margin-right: 4px;
}

.listing-group-filter input[type='checkbox'] + label {
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
}



/*
@media only screen and (max-width: 768px) {
    .listing-group {
        font: 10px/18px;
    }

    .listing-group input[type='checkbox'] + label {
        padding-right: 15px;
    }

    .listing-group-filter input[type='checkbox'] + label {
        padding-left: 4px;
    }

    .listing-group-title input[type='checkbox'] + label:before {
        margin-right: 2px;
    }

    .listing-group-title input[type='checkbox']:checked + label:before {
        margin-right: 2px;
    }
}

@media only screen and (max-width: 576px) {

    .listing-group,
    .listing-group-filter {
                font: 8px/16px;
        font-size: 2.1vw;
        line-height: 3.3vw;
    }

    .listing-group input[type='checkbox'] + label {
        padding: 1.1vw;
        padding-right: 10px;
    }
}
*/
